$pallete-primary-main: #307fc1;
$pallete-primary-light: rgba(48, 127, 193, 0.07);
$pallete-primary-dark: #1f629a;

$pallete-secondary-main: #01ae8f;
$pallete-secondary-light: rgba(1, 174, 143, 0.07);
$pallete-secondary-dark: #118e77;

$primary-gradient: linear-gradient(107deg, #682a94, #05afe0);
$secondary-gradient: linear-gradient(107deg, #019cae, #307fc1);
$tertiary-gradient: linear-gradient(107deg, #01ae8f, #307fc1);

$text-gray: #5d6870;
$text-blue: $pallete-primary-main;
